.article-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: var(--space-3xl);
}

.article-list li {
  background-color: white;
  border: 2px solid var(--border);
  flex-direction: column;
  display: flex;
}

.article-list li img {
  border: none;
}

.article-list li h3, .article-list li .description, .article-list li .meta {
  padding: var(--space-lg);
  padding-bottom: 0;
}

.article-list li .meta {
  margin-bottom: var(--space-lg);
  margin-top: auto;
  align-items: center;
}

.title {
  display: inline-block;
  font-size: var(--text-lg);
  margin-bottom: var(--space-xs);
  margin-top: var(--space-lg);
  border-bottom: 1.5px solid transparent;
}

.link {
  text-decoration: none;
}

.link:hover .title {
  border-bottom-color: var(--primary);
}

.meta {
  display: flex;
  justify-content: space-between;
}
