.tags {
  display: flex;
  gap: var(--space-md);
}

.tag {
  border: 2px dashed var(--border);
  border-radius: 0;
  line-height: var(--solid);
  padding: var(--space-sm) var(--space-md);
  background-color: var(--tag-bg);
}
